.collection__item {
  position: relative;
  height: 35rem;

  &:hover .collection__back-image {
    opacity: 0.8;
  }

  &:hover .btn--cart {
    display: block;
    opacity: 0.85;
  }
}

.collection__back-image {
  height: 93%;
  background-size: cover;
  background-position: top;
}

.collection__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 7%;
  font-size: 1.8rem;
}
