.signin {
  // width: 30vw;
  width: 50%;
}

.form__title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.form__subtitle {
  font-size: 1.5rem;
  margin-bottom: 5rem;
}

.form {
  width: 80%;
  margin: 0 auto;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}
